.table-container {
    width:90%;
    min-width: fit-content;
}

.table-container th,
.table-container td {
    border: 1px solid rgb(163, 163, 163);
}

.btn-group label.btn {
    border: 1px solid #a5a5a5;
    border-radius: 2px;
    background: transparent;
}

.btn-check:checked+.btn{
    background-color: #3b28cc !important;
    border: 1px solid #a5a5a5 !important;
}

.btn-check:not(:checked):hover + .btn {
    background-color: #3b28cc88 !important;
    border: 1px solid #a5a5a5 !important;
}
